html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    background-color: #000;
}

header {
    text-align: center;
    padding: 10px 0;
}

header img {
    max-width: 100%;
    height: auto;
}


section {
    padding: 20px;
    margin: 20px 0;
    border-bottom: 1px solid #777;
}

section h2 {
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bolder;
}


.event-item {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-item h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #f79109; 
}

.event-item p {
    margin: 10px 0;
    color: #ccc;
}